@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-white: #f7f7f2;
    --color-black: #141414;
    --color-grey: #a3a3a3;
    --color-purple: #662a88;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {

}

/* main styles */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(239,210,255);
    background: linear-gradient(0deg, rgba(232, 189, 255, 0.781) 0%, rgba(230,227,232,1) 100%);
}

nav {
    min-height: 56px;
    min-width: 912px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(36px);
    background-color: #f0f0f052;
    border-radius: 1rem;
    box-shadow: 2px 4px 20px #0000003a;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 1rem;
    transition: background-color .15s ease-in-out;
    z-index: 10;
}

nav img {
    width: 5%;
}

nav i {
    font-size: 44px;
    color: var(--color-grey);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 128px 0 256px 0;
}

header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 75px;
    font-weight: 400;
    text-align: center;
    color: rgba(105, 72, 123, 0.781);
}

/*
header img {
    height: auto;
    width: 100%;
    margin-top: calc(5svh + 2rem);
    margin-bottom: calc(5svh + 2rem);
    box-shadow: 2px 4px 20px #00000060;
}
*/

header video {
    object-fit: cover;
    height: auto;
    width: 100%;
    margin-top: calc(5svh + 2rem);
    margin-bottom: calc(5svh + 2rem);
    box-shadow: 2px 4px 20px #00000060;
}

header p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 120%;
    margin: 32px 32px 0 32px;
    color: rgba(68, 46, 79, 0.781);
    max-width: 928px;
}

header p span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    line-height: 120%;
    margin: 32px 32px 0 32px;
    color: black;
    max-width: 928px;
}

/* section 1 styles */
.lab {
    padding-top: 16rem;
    padding-bottom: 232px;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.lab h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 75px;
    font-weight: 400;
    text-align: center;
    color: var(--color-white);
}

.lab p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    line-height: 120%;
    margin: 32px 32px 0 32px;
    color: var(--color-grey);
    max-width: 928px;
    margin-bottom: 11rem;
}

.lab p span {
    color: var(--color-white);
}

/* card styling */
/*
.cards {
    width: 60%;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card {
    min-width: 200px;
    height: 254px;
    background: linear-gradient(0deg, rgba(232, 189, 255, 0.781) 0%, rgba(230,227,232,1) 100%);
    border-radius: 16px;
    box-shadow: 2px 4px 20px #d1a9e874;
}
   
.card .card-border-top {
    width: 60%;
    height: 3%;
    background: var(--color-purple);
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}
   
.card span {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 24px;
}
   
.card .job {
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
}
   
.card .img {
    width: 60%;
    height: 40%;
    background: var(--color-purple);
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
}
   
.card button {
    padding: 8px 25px;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: var(--color-purple);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
   
.card button:hover {
    background: #560e80;
}
*/
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.card {
    width: 200px;
    height: 200px;
    margin: 1rem;
    background: linear-gradient(0deg, rgba(52, 49, 53, 0.781) 0%, rgb(123, 122, 123) 100%);
    border-radius: 16px;
    border: 1px solid var(--color-grey);
    box-shadow: 2px 4px 20px black;
    text-align: center;
}
  
.card-border-top {
    width: 100%;
    height: 4px;
    background-color: #0073b7;
    border-radius: 4px 4px 0 0;
}
  
.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
  
.card span {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
  
.card p {
    font-size: 14px;
    margin: 0;
}